.meu-topo {
    background-color: #4a4a4a;       /* Cor de fundo do retângulo */
    display: flex;                  /* Ativa o modo "lado a lado" */
    justify-content: space-between; /* Joga o nome pra esquerda e botões pra direita */
    align-items: center;            /* Alinha tudo no centro verticalmente */
    padding: 15px 40px;              /* Espaçamento interno (respiro) */
    width: 100%;                    /* Ocupe a largura total */
    box-sizing: border-box;         /* Evita que o padding "estique" o cabeçalho para fora da tela */
}

.logo-topo {
    color: white !important;      /* Força a cor branca para aparecer no fundo escuro */
    margin: 0;                      /* Remove a margem que estica o cabeçalho */
    font-size: 1.8rem;              /* Deixa o nome menor para caber na barra */
    font-weight: bold;
}

.link-topo {
    text-decoration: none;          /* Remove o sublinhado do link no nome */
    display: flex;                  /* Ajuda a manter o alinhamento correto */
}

.link-topo:hover {
    opacity: 0.8;                   /* Dá uma leve transparência para mostrar que é clicável */
}

.botao {
    text-decoration: none;          /* Remove o sublinhado padrão de link */
    color: white;                 /* Cor do texto do botão */
    border: 2px solid white;      /* Cria a borda do "quadrado" */
    padding: 10px 20px;              /* Dá tamanho ao botão */
    margin-left: 15px;
    font-size: 1rem;               /* Espaço entre um botão e outro */
    font-weight: bold;
    transition: 0.3s;
}       



main {
    padding: 20px;
}

#habilidades li {
    line-height: 1.6;               /* Aumenta o espaço entre as linhas de texto */
    margin-bottom: 12px;
    padding: 12px;
    background-color: #f0f0f0;
    border-left: 4px solid #4a4a4a;
    border-radius: 5px;
}

#habilidades strong {
    color:#333;
}

body{
    background-color: #bcbcbc;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #333;
}

#subtitulo-site {
    text-align: center;
    font-style: italic;
    color: #666;
}