.meu-topo {
    background-color: #333;       /* Cor de fundo do retângulo */
    color: white;                 /* Cor do texto */
    display: flex;                  /* Ativa o modo "lado a lado" */
    justify-content: space-between; /* Joga o nome pra esquerda e botões pra direita */
    align-items: center;            /* Alinha tudo no centro verticalmente */
    padding: 10px 40px;             /* Espaçamento interno (respiro) */
}


body{
    background-color: #bcbcbc;
    
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

h1{
    text-align: center;
    color: #333;
}

#subtitulo-site {
    text-align: center;
    font-style: italic;
    color: #666;
}