.meu-topo {
    background-color: #4a4a4a;       /* Cor de fundo do retângulo */
    display: flex;                  /* Ativa o modo "lado a lado" */
    justify-content: space-between; /* Joga o nome pra esquerda e botões pra direita */
    align-items: center;            /* Alinha tudo no centro verticalmente */
    padding: 15px 40px;              /* Espaçamento interno (respiro) */
    width: 100%;                    /* Ocupe a largura total */
    box-sizing: border-box;         /* Evita que o padding "estique" o cabeçalho para fora da tela */
}

.logo-topo {
    color: white !important;      /* Força a cor branca para aparecer no fundo escuro */
    margin: 0;                      /* Remove a margem que estica o cabeçalho */
    font-size: 1.8rem;              /* Deixa o nome menor para caber na barra */
    font-weight: bold;
}

.link-topo {
    text-decoration: none;          /* Remove o sublinhado do link no nome */
    display: flex;                  /* Ajuda a manter o alinhamento correto */
}

.link-topo:hover {
    opacity: 0.8;                   /* Dá uma leve transparência para mostrar que é clicável */
}

.botao {
    text-decoration: none;          /* Remove o sublinhado padrão de link */
    color: white;                 /* Cor do texto do botão */
    border: 2px solid white;      /* Cria a borda do "quadrado" */
    padding: 10px 20px;             /* Dá tamanho ao botão */
    margin-left: 15px;
    font-size: 1rem;                /* Espaço entre um botão e outro */
    font-weight: bold;
    transition: 0.3s;
}       

.meu-rodape {
    background-color: #4a4a4a;
    color: white;
    padding: 30px 0;
    margin-top: 50px;               /* Dá um espaço para não grudar nos cards */
    text-align: center;
    width: 100%;
}

.conteudo-rodape p {
    color: #bcbcbc;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.redes-sociais a {
    font-size: 1.8rem;
    color: #ff4d4d;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.3s;
}

.redes-sociais a:hover {
    color: white;
    transform: translateY(-3px);        /* Move o ícone para cima ao passar o mouse */
    display: inline-block;
}


main {
    padding: 20px;
    position: relative;
}

.container-foto {
    position: absolute;                /* Permite mover o círculo livremente */                           
 
    /* Ajuste de centralização vertical entre as 3 linhas */
    top: 145px;                         /* Distância do topo do main */
    right: 30px;                       /* Distância da lateral direita */                
   
    /*TAMANHO CIRCULO */
    width: 270px;                      /* Largura do círculo */
    height: 270px;                     /* Altura do círculo (igual à largura para ser redondo) */

   
    background-color: #ff4d4d;
    border-radius: 50%;                /* Torna o quadrado um círculo perfeito */
    display: flex;                     /* Centraliza a imagem dentro dele */
    justify-content: center;
    align-items: center;
    overflow: hidden;                  /* Corta a imagem para ela não sair do círculo */
    border: 6px solid #ff4d4d;       /* Borda vermelha para dar acabamento */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
    z-index: 10;                        /* fique por cima do texto */
}

.foto-perfil {
    width: 100%;                        /* A imagem ocupa toda a largura do círculo */
    height: 100%;                       /* A imagem ocupa toda a altura */
    object-fit: cover;                  /* Faz a imagem preencher o círculo sem esticar */
}

#habilidades ul{
    list-style-type: none; 
    padding: 0;
    margin-right: 0px;                 
}

#habilidades li {
    line-height: 1.6;                   /* Aumenta o espaço entre as linhas de texto */
    margin-bottom: 12px;
    padding: 12px;
    background-color: #f0f0f0;
    border-left: 4px solid #4a4a4a;
    border-radius: 5px;
}

#habilidades strong {
    color:#333;
}


body{
    background-color: #bcbcbc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


h1{
    text-align: center;
    color: #333;
}

#subtitulo-site {
    text-align: center;
    font-style: italic;
    color: #666;
}

/* Estilo para o título principal das páginas */
main h1 {
    font-size: 2.8rem;                      /* Aumenta o tamanho do título principal */
    margin-bottom: 20px;

}

/* Estilo para os subtítulos das seções */
h2 {
    font-size: 1.8rem;
    color: #2c3e50;
    border-bottom: 2px solid #ff4d4d;
    display: inline-block;
    padding-bottom: 5px;

}

/* Estilo para todos os parágrafos de texto do site */
p {
    font-size: 1.15rem;                 /* Aumenta um pouco o tamanho padrão */
    line-height: 1.8;                   /* Aumenta o espaço entre as linhas para facilitar a leitura */
    color: #444;
}


.botao-download {
    
    display: block;                     /* Transforma o link em um bloco */
    width: fit-content;                 /* O botão se ajusta ao tamanho do texto */;
    margin: 30px auto;                  /* Centraliza o botão horizontalmente */
    
    background-color: #ff4d4d;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.botao-download:hover {
    background-color: #c0392b;      /* Um tom de vermelho mais escuro ao passar o mouse */
    transform: scale(1.05);           /* Dá um leve aumento ao passar o mouse */
}

/*PAGINA QUEM SOU EU*/  
/* Cor específica para o título da página Quem Sou Eu */
.titulo-quem-sou {
    color: #ff4d4d;
    margin-bottom: 40px;
}

/* Estilo dos Cards */
.card-sobre {
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 25px;               /* Espaço entre um card e outro */
    border-radius: 8px;                /* Cantos levemente arredondados */
    border-left: 8px solid #ff4d4d;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;                  /* Evita que o texto estique demais em telas grandes */
    margin-left: auto;                 /* Centraliza o card horizontalmente */
    margin-right: auto;                /* Centraliza o card horizontalmente */  

}

.card-sobre h2 {    
    margin-top: 0;                     /* Remove espaço extra no topo do título do card */
    border-bottom: none;               /* Remove a linha antiga para o card ficar mais limpo */
    color: #333;
    font-size: 1.5rem;
}

.card-sobre ul {
    list-style-type: square;              /* Altera o estilo dos marcadores para quadrados */
    padding-left: 20px;                                  
}

.card-sobre li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

/*TRABALHE COMIGO*/     
/* Estilo para a lista dentro do Trabalhe Comigo */
.lista-contato {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.lista-contato li {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #333;
}

/* Botão do WhatsApp */
.botao-whatsapp {
    display: inline-block;
    background-color: #25d366;
    color: white;
    padding: 18px 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: 0.3s;
    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.botao-whatsapp:hover {
    background-color: #128c7e;      /* Um tom de verde mais escuro ao passar o mouse */
    transform: scale(1.05);           /* Dá um leve aumento ao passar o mouse */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); 
}

/* CONFIGURAÇÃO PARA CELULARES */
/* Configurações para telas de até 768px (Celulares e Tablets) */
@media (max-width: 768px) {
    
    .meu-topo {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;        /* Botões um embaixo do outro */ 
        gap: 15px;                     /* Cria um espaço de 15px entre os botões */ 
        margin-top: 10px;
        width: 100%;                   /* Faz a nav ocupar a largura toda para alinhar botões */
    }

    .botao {
        margin-left: 0;                /* Remove a margem lateral no mobile */ 
        text-align: center;            /* Garante que o texto fique no meio do botão */ 
    }

    .container-foto {
        position: absolute;
               
        /* TAMANHO */
        width: 120px;                   /* Diminui tamanho no celular */
        height: 120px;

        top: 20px;                      /* Posicionamento bem rente à borda */
        right: 10px;

        border-width: 3px;
    }

    /* 3. Ajusta o tamanho das fontes para telas menores */
    main h1 {
        text-align: left;               /* Alinha o nome à esquerda para abrir espaço para a foto na direita */
        padding-right: 130px;           /* Cria uma "parede" invisível para o texto não passar por baixo da foto */
        font-size: 1.4rem;
    }

    #subtitulo-site {
        text-align: left;
        padding-right: 130px;
    }

    #habilidades li {
        margin-right: 0;             /* Garante que a lista ocupe a largura total */
    } 
}